body{
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;

}



.top-nav{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: inline-flex;
    background-color: red;
    height: 30px;
}


.top-nav .top1 h6{
    font-size: small;
}

.top-nav .top1{
    padding-top: 6px;
    padding-left: 5px;
 
}
.top-nav .top2{
    padding-top: 6px;
    padding-left: 55%;   
}

.top-nav ul{
    
    list-style: none;
    display: inline-flex;
}
.top-nav ul li{
    
    padding-left: 20px;
}




.navbar{
    width: 100%;
    background-color: aqua;
    color: black;
}

.container-fluid h3{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar-nav{
    width: 100%;
    margin-left: 40%;

}

.navbar-nav .nav-item a{
    text-decoration: none;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}



.navbar-nav .nav-item a:hover{
    color:rgba(233, 56, 56, 0.938) ;
   
    border-bottom: 2px solid rgba(233, 56, 56, 0.938);
}




.background-one{
    background-color:darkgrey;
    height: 400px;
    text-align: center;

}

.background-one li h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: beige;
    padding-top: 3px;
    /* padding-left: 20px; */
    padding-right: 30px;
}

.background-one ul li a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-size: 15px;
    padding-right: 10px;
    color: beige;
    

}

.background-one .box2 ul li a:hover{
    /* background-color: black; */
    color: darkred;
}


.background-one h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: beige;
    font-weight: bolder;   
}
.background-one .box2{
    padding-top: 150px;
}
.background-one .box2 ul{
    list-style: none;
    display: inline-flex;
}







.box3-background{
    background-color:beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: normal;
    height: auto;
    width: 100%;

}

.box3-background  .box3-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    /* position: relative;
    bottom: 100px; */
    
}

.box3-background  .box3-wrapper .box3-holder{
    background-color: white;
    width: 90%;
    box-shadow: 0px 0px 3px 0px grey;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
    padding-bottom: 50px;
    outline: none;

}

.box3-background  .box3-wrapper .box3-holder p{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    color: grey;
    font-weight: bold;

}

.box3-background  .box3-wrapper .box3-holder img{
    padding-top: 20px;
}

.box3-background  .box3-wrapper .box3-holder h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
}
.box3-background .textbox button{
    background-color: rgba(233, 56, 56, 0.938) ;
    color: white;
    outline: none;
    border: none;
    font-size: normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;

}

.box3-background .textbox button:hover{
    background-color: white;
    color: rgba(233, 56, 56, 0.938) ;
    border: 1px solid rgba(233, 56, 56, 0.938)  ;

}








.box-background6{
    width: 100%;
    background-color: darkgray;
    color: black ;
    height: auto;
    padding-bottom: 200px;
}

.box-background6 h3{
    margin-top: 0px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 60px;
    padding-top: 150px;
}

.box-background6 .box-wrapper2 .box-holder2{
    width:85%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin-left: 7%;
    /* justify-items: space-between; */
}

.box-background6 .box-wrapper2 .box-holder2 .box2-holder{
    display: inline-flex;
    width: 100%;
    /* margin-top: 0px; */
    /* grid-template-columns: 1fr 1fr; */
}

.box-background6 .box-image{
     margin-top: 20px;
     margin-left: 10px;
     width: 100%;
    border-radius: 50%;
    height: 100px;
    /* background-color: aqua;  */
}

.box-background6 .box-image img{
   
    width: 100%;
    border-radius: 60%;
    height: 100px;
    /* background-color: aqua; */
 
}

.box-background6 .textbox2{
    margin-left: 20px;
    /* padding-bottom: 100px; */
}

.box-background6 .textbox2 h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25px;
    color: grey;
    padding-top: 15px;
}

.box-background6 .textbox2 p{
    color: grey;
    padding-top: 0px;
} 


/* .box-background6 .textbox2 h5{
    padding-bottom: 200px;
} */


.box-background6 .box6-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    /* justify-self: space-around; */
}
.box-background6 .quotation h1{
    position: relative;
    top: 90px;
    padding-left: 160px;
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bolder;
    color: rgb(226, 126, 142);
}

.box7-background{
    width: 100%;
    background-color: darkgray;
    color: black ;
    height: auto;
}
.box7-background .box-image2{
    padding-left: 20px;
}
.box7-background .box-image2 p{
    color: white;
    font-size: large;
}

.box7-background .box-image2 img{
    height: 700px;
}
.box7-background .box-image2 h3{
    padding-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;


}

.box7-background .box7-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    font-weight: lighter;
    padding-left: 50px;
}
.box7-background .box7-text p{
    font-size: large;
}
.box7-background .box7-text h2{
    font-size: 60px;
}

 .box7-background .box7-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box7-background .iconA{
    width: 30%;
    background-color: red;
    border-radius: 50%;
    height: 70px;
}

.box7-background .iconA #icons{
    color: white;
    padding-left: 13px;
    padding-top: 20px;
    font-size: 40px;
}

.box7-background .icons-box{
    display: inline-flex;
}

.box7-background .icon-text{
    width: 100%;
    padding-left: 20px;
}
.box7-background .icon-text h5{
    font-weight: bold;
}

.box7-background .icons-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    /* justify-self: space-around; */

}













@media screen and (max-width:991px){
    .container-fluid{
        padding-bottom: 20px;
    
    }
}




















.footer-background{
    /* text-align: left; */
    /* margin-top: 700px; */
    
    background-color: rgb(59, 56, 56);
    color: white;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    /* justify-items: space-between; */
    /* justify-items: center; */
    
    
}

.footer-background .footer-wrapper{
    
    padding-top: 50px;
    display: inline-flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    width: 100%;
   
 

}

.box1-footer .read{
    text-decoration: none;
}

.footer-background .footer-wrapper .box1-footer{
    width: 100%;
    /* justify-items: space-around; */
     padding-left: 1%;
}
.footer-background .box1-footer h3{
    padding-bottom: 20px;
}
.footer-background .box1-footer p{
    font-weight: bold;
    color: grey;
    font-size: normal;
}

.footer-background .box1-footer a button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    outline: none;
    border: 1px solid grey;
    font-weight: bold;
    background-color: rgb(59, 56, 56);
    color: white; 
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 10px;
 

}


.footer-background .box1-footer a button:hover{
    border: 1px solid black;
}

.footer-background .box1-footer .iconsB i{
    padding: 10px 12px;
    font-size: 15px;
    border: 1px solid grey;
    margin-right: 15px;
    border-radius: 5px 5px 5px 5px;
}

.footer-background .box1-footer .iconsB #facebook{
    padding: 10px 15px;
}

.box1-footer  .block-form .link .sender{
    /* display: flex; */
    padding: 14px 15px;
    margin: 0px;
    /* padding: 10px; */
    position: relative;
    /* bottom: 0px; */
    right: 5px;
    /* top: 4px; */
    /* outline: none; */
    /* width: fit-content; */
    border: none;
    background-color: rgb(199, 68, 90);
    color: white;
    border-radius:  0px 5px 5px 0px;
    
}

.box1-footer  .block-form input{
    padding: 10px;
    width: 75%;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    background-color:rgb(59, 56, 56) ;
    outline: none;
    border: 1px solid rgb(199, 68, 90);
    

}

.box1-footer  .block-form input::placeholder{
    font-size: small;
    font-family:'Courier New', Courier, monospace;
}

.footer-background .box1-footer .fa{
    /* padding-left: 5px; */
    font-size: 20px;
    padding-top: 3px;
    margin: 0px;
}

.footer-end{
    
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* padding: 30px; */
    width: 100%;
    height: auto;
}

.footer-end .footer-end-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    justify-items: center;
    padding-top: 20px;

}
.footer-end .footer-end-wrapper .footer-box1{
    width: 100%;
    margin-left: 5%;

}

.footer-end .footer-end-wrapper .footer-box1 p{
    
    color: grey;
    font-size: 15px;
}

.footer-end .footer-end-wrapper .footer-box3{
    display: flex;
    width: 100%;
    justify-content: right;
    /* color: white; */
    /* text-align: right; */
    margin-left: 35%;
    
}

.footer-end .footer-end-wrapper .footer-box2 h5{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.footer-end .footer-end-wrapper .footer-box2{
    padding-left: 20px;
    color: white;
    /* font-size: 2px; */
    /* text-align: right; */
    /* margin-left: 10%; */
}


 .footer-background .box1-footer #sender{
    background-color: rgb(224, 117, 135);
    color: white;
    height: 34px;
    width: 10%;
    margin-top: 0px ;
    font-size: larger;
    position: relative;
    bottom: 6px;

}



 .footer-background .box1-footer .block-text{ 
    color: grey;
    font-size: 20px;
    background-color:rgb(59, 56, 56) ;
    outline: none;
    border: 1px solid grey;
}











@media screen and (max-width:1002px) {
    .footer-background{
        /* margin-top: 1200px; */
        /* background-color: rgb(59, 56, 56); */
        /* color: white; */
        /* width: 100%; */
        height:auto;
        /* padding-bottom: 100px; */
        /* justify-items: center; */
     }
     .footer-background .footer-wrapper{
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    
    }

    .box7-background .iconA{
        width: 20%;
        background-color: red;
        border-radius: 50%;
        height: 70px;
    }


    .box7-background{
        width: 100%;
        background-color: darkgray;
        color: black ;
        height: auto;
    }
   

    /* .box7-background .icons-box{
        display: grid;
        grid-template-columns: 1fr;
    } */

    .box7-background .icons-container{
        height: auto;
        /* background-color: darkgray; */
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        /* justify-self: space-around; */
    
    }
    
    
}

@media screen and (max-width: 1002px) {
    .box-background6 .box-image{
        margin-top: 20px;
        margin-left: 10px;
        width: auto;
       border-radius: 50%;
       height: 90px;
       /* background-color: aqua;  */
   }
   
   .box-background6 .box-image img{
      
       width: auto;
       border-radius: 80%;
       height: 100px;
       /* background-color: aqua; */
    
   }

   .top-nav{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: inline-flex;
    background-color: red;
    height: auto;
}
.top-nav .top1{
    padding-top: 18px;
    padding-left: 5px;
 
}
   .top-nav .top2{
    padding-top: 15px;
    padding-left: 40%;   
}
.navbar-nav{
    margin-left: 30%;

}

.box-background6 .box-wrapper2 .box-holder2 .box2-holder{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    /* margin-top: 0px; */
    /* grid-template-columns: 1fr 1fr; */
}
}

@media screen and (max-width: 766px){

    .box-background6 .box-image{
        margin-top: 20px;
        margin-left: 10px;
        width: auto;
       border-radius: 50%;
       height: 90px;
       /* background-color: aqua;  */
   }
   
   .box-background6 .box-image img{
      
       width: auto;
       border-radius: 80%;
       height: 100px;
       /* background-color: aqua; */
    
   }

   .box7-background .box7-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    font-weight: lighter;
    padding-left: 20px;
}


    .box7-background .box7-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        width:100%;
    }

    .box7-background .iconA{
        width: auto;
        background-color: red;
        border-radius: 50%;
        height: 70px;
    }


    .box7-background .box-image2 img{
        height: auto;
    }

    .footer-background{
     
        height:auto;
        
     }

     .footer-background .box1-footer h3{
        padding-top: 15px;
     }


    .footer-background .footer-wrapper{
   padding-top: 100px;
   display: grid;
   grid-template-columns: 1fr;
   width: 100%;

}

.box7-background .box-image2{
    width: 96%;
    /* padding-left: 0px; */
    justify-self: center;
}

.box-background6 .box6-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    width: 100%;
    /* justify-self: space-around; */
}

.box-background6 .box-wrapper2 .box-holder2 .box2-holder{
    display: inline-flex;
   
    width: 100%;

}

.box-background6  .box6-container .box-wrapper2 {
    padding-bottom: 50px;
}
.box3-background  .box3-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    /* position: relative;
    bottom: 100px; */
    
}

.box3-background  .box3-wrapper .box3-holder {
    margin-bottom: 50px;
}



}

@media screen and (max-width: 528px){
    .top-nav .top2{
        padding-top: 15px;
        padding-left: 20%;   
    margin-right: 40px;
    }
}

@media screen and (max-width: 414px){
    .footer-end .footer-end-wrapper .footer-box3{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: right;
        /* color: white; */
        /* text-align: right; */
        margin-left: 30%;
        margin-right: 15%;
        
    }
}    

    @media screen and (max-width: 396px){
        .top-nav{
            display: grid;
            grid-template-columns: 1fr;
            padding-top: 15px;
            /* padding-left: 20%;    */
        margin-right: 70px;
        }
    }

